* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Poppins', sans-serif; }

a {
  text-decoration: none; }

.fundacion-menu {
  -webkit-box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.5);
  box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 80px;
  height: 70px; }

.fundacion-logo {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.fundacion-nav {
  width: 70%;
  height: 100%; }
  .fundacion-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase; }
  .fundacion-nav ul li {
    display: inline;
    font-weight: 500;
    font-size: 12px;
    margin: 0 20px; }
    .fundacion-nav ul li a {
      color: #000; }

.fundacion-banner {
  background: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 800px;
  padding: 0 3em; }

.banner-contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%; }
  .banner-contenido .banner-titulo {
    color: #2380ff;
    text-transform: uppercase;
    font-size: 2.8em;
    line-height: 1.1;
    margin-bottom: 30px; }
  .banner-contenido .banner-descripcion {
    color: #777;
    font-weight: 200;
    margin-bottom: 30px; }
  .banner-contenido .banner-btn {
    text-transform: uppercase;
    background: #222;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    font-size: .9em;
    padding: 12px 30px; }

.banner-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 50%; }
  .banner-image img {
    width: 100%; }

.fundacion-servicios {
  display: grid;
  grid-template: 200px 200px 200px / 40% 40%;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding: 100px 0; }
  .fundacion-servicios .servicio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .fundacion-servicios .servicio .servicio-icono {
      color: #777;
      width: 10%; }
    .fundacion-servicios .servicio .servicio-descripcion {
      padding-left: 10px;
      width: 90%; }
      .fundacion-servicios .servicio .servicio-descripcion .servicio-titulo {
        color: #333;
        margin-bottom: 15px;
        text-transform: uppercase; }
      .fundacion-servicios .servicio .servicio-descripcion .servicio-informacion {
        color: #777;
        font-size: .9em;
        font-weight: 200;
        line-height: 1.5; }

.fundacion-contacto {
  display: grid;
  grid-template: 480px / 1fr 1fr; }
  .fundacion-contacto .contacto-imagen .imagen-formulario {
    width: 100%;
    height: 480px; }
  .fundacion-contacto .contacto-formulario {
    background: #222;
    color: #fff;
    padding: 3em; }
    .fundacion-contacto .contacto-formulario .titulo-formulario {
      margin-bottom: 20px;
      font-size: 1.5em;
      font-weight: 500;
      text-align: center; }
    .fundacion-contacto .contacto-formulario input, .fundacion-contacto .contacto-formulario textarea {
      background: #222;
      border: 1px solid #656463;
      color: #fff;
      font-size: 14px;
      font-weight: 100;
      margin-bottom: 20px;
      padding: 15px; }
    .fundacion-contacto .contacto-formulario input:focus, .fundacion-contacto .contacto-formulario textarea:focus {
      outline: none; }
    .fundacion-contacto .contacto-formulario textarea {
      width: 100%; }
    .fundacion-contacto .contacto-formulario .input-full {
      height: 40px;
      width: 100%; }
    .fundacion-contacto .contacto-formulario .medium {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .fundacion-contacto .contacto-formulario .medium .input-medium {
        height: 40px;
        width: 48%; }
      .fundacion-contacto .contacto-formulario .medium .input-medium:first-child {
        margin-right: 4%; }
    .fundacion-contacto .contacto-formulario .btn-contacto {
      background-image: -webkit-linear-gradient(0deg, #2380ff 0%, #52fdd9 100%);
      border: none;
      border-radius: 20px;
      color: #fff;
      font-size: 1em;
      padding: 10px 30px; }
    .fundacion-contacto .contacto-formulario .btn-contacto:hover {
      cursor: pointer; }
