$color-titulo-principal: #017AE9;
$fs-titulo-banner: 24px;
$fs-texto: 15px;
$color-texto: #aaa;
$color-texto-alt: #444;
$lh-texto: 1.4;
$fw-texto: 100;
$fs-titulo-servicios: 20px;
$fs-texto-servicios: 13px;
$color-titulo: #444;
$bg-form: #222;

@mixin btn($fs: 18px, $br: 15px){
	background-image: -webkit-linear-gradient(0deg, #2380ff 0%, #52fdd9 100%);
	color: #fff;
	font-size: $fs;
	border-radius: $br;
	border: none;
	display: inline-block;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Poppins', sans-serif;
}

a{
	text-decoration: none;
}

img{
	width: 100%;
}

li{
	list-style: none;
}

.hide{
	display: none;
}

#open, #close{
	color: #fff;
	position: fixed;
	top: 20px;
	right: 10px;
}

#close{
	display: none;
}

.nav-menu{
	position: fixed;
	min-height: 100vh;
	width: 100%;
	background: rgba($color-titulo-principal, .9);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	li{
		border-bottom: 1px solid #fff;
		list-style: none;
		font-size: 1.3em;
		width: 100%;
		padding: 20px;
		margin-bottom: 2px;
		text-transform: uppercase;

		a{
			color: #fff;
			&:visited{
				color: #fff;
			}
		}

		&:first-child{
			border-top: 1px solid #fff;
		}
	}
}

.fundacion-menu{
	background: $color-titulo-principal;
	align-items: center;
	height: 70px;

	.fundacion-logo{
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $color-titulo-principal;
		font-size: 1.5em;
		height: 70px;
		position: fixed;
		width: 100%;
	}

	.fundacion-nav{
		text-align: center;
	}
}

.fundacion-banner,
.fundacion-servicios,
.fundacion-contacto{
	padding: .5em;
}

.fundacion-banner{
	.banner-titulo{
		color: $color-titulo-principal;
		font-size: $fs-titulo-banner;
	}

	.banner-descripcion{
		color: $color-texto;
		font-size: $fs-texto;
		font-weight: $fw-texto;
		line-height: $lh-texto;
		margin: 30px 0;
	}

	.banner-image{
		img{
			height: 380px;
		}
	}

	.banner-btn{
		display: flex;
		justify-content: center;
		margin: 20px 0;
		a{
			@include btn;
			width: 200px;
			padding: .5em;
			text-align: center;
		}
	}
}

.fundacion-servicios{

	.servicio{
		margin-bottom: 45px;
	}

	.servicio-icono{
		display: none;
	}

	.servicio-titulo{
		color: $color-titulo;
		font-size: $fs-titulo-servicios;
		margin-bottom: 15px;
	}

	.servicio-informacion{
		color: $color-texto;
		font-size: $fs-texto;
		font-weight: $fw-texto;
		line-height: $lh-texto;
	}
}

.fundacion-contacto{
	.contacto-imagen{
		display: none;
	}

	.contacto-formulario{
		background: $bg-form;
		padding: 20px 0;

		.titulo-formulario{
			font-size: $fs-titulo-banner;
			color: #fff;
			margin-bottom: 20px;
			text-align: center;
		}
	}

	.formulario{
		.input, .message{
			background: $bg-form;
			border: .2px solid $color-texto;
			color: #fff;
			display: block;
			font-weight: $fw-texto;
			margin: 0 auto;
			margin-bottom: 15px;
			padding: 1em;
			outline: none;
			width: 90%;
		}
		.input{
			height: 25px;
		}

		.btn-contacto{
			@include btn(14px);
			cursor: pointer;
			display: block;
			padding: .5em 3em;
			margin: 0 auto;
		}
	}
}

section.info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 200px;
	margin: .5em;
	padding: .5em;
	background: #ccc;

	.titulo-info{
		color: #333;
		font-size: $fs-titulo-banner;
		font-weight: 600;
		line-height: 2.5;
	}
	.descripcion-info{
		color: $color-texto-alt;
		font-size: $fs-texto;
		font-weight: $fw-texto+100;
		line-height: $lh-texto;
	}
}

.fundacion-consultores{
	padding: .5em;
}

.fundacion-contadores{
	display: grid;
	grid-template: 120px 120px / 1fr 1fr;

	.contador{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.cantidad,
	.descripcion{
		display: block;
		text-align: center;
	}

	.cantidad{
		color: $color-titulo-principal;
		font-size: $fs-titulo-banner+10;
		font-weight: 700;
	}

	.descripcion{
		color: $color-texto;
		font-weight: 300;
	}
}

.fundacion-articulos-recientes{
	padding: .5em;
	.articulo{
		background: #f0f0f0;
		margin-bottom: 20px;

		.titulo-articulo{
			color: $color-titulo;
			font-size: 22px;
			margin: 10px 0;
			text-align: center;
		}

		.descripcion-articulo{
			color: $color-texto-alt;
			font-weight: $fw-texto+100;
			padding: .5em;
		}
	}
}

.fundacion-footer{
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $bg-form;
	height: 70px;

	a{
		color: teal;
	}
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

	.fundacion-banner{
		.banner-titulo{
			font-size: $fs-titulo-banner+5;
		}

		.banner-descripcion{
			font-size: $fs-texto+2;
			line-height: $lh-texto;
		}

		.banner-image{
			img{
				height: 480px;
			}
		}
	}

	.fundacion-servicios{
		.servicio{
			margin-bottom: 0;
			padding: 2.5em;
			display: grid;
			grid-template-columns: 100px 1fr;

			.servicio-icono{
				display: block;
			}

			.servicio-titulo{
				font-size: $fs-titulo-servicios+5;
			}

			.servicio-informacion{
				font-size: $fs-texto+2;
			}
		}
	}

	.fundacion-consultores{
		.imagen-consultores{
			display: grid;
			grid-template: 300px 300px / 1fr 1fr;
			grid-gap: 10px;

			img{
				height: 100%;
			}
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.hide{
		display: block;
	}

	#open{
		display: none;
	}

	.fundacion-menu{
		display: grid;
		grid-template-columns: 200px 1fr;

		.fundacion-logo{
			position: initial;
		}

		.fundacion-nav ul{
			display: flex;
			justify-content: flex-end;
			padding-right: 2em;

			li{
				margin-right: 10px;
				a{
					color: #fff;
				}
			}
		}
	}

	.fundacion-banner{

		.banner-image{
			img{
				height: 690px;
			}
		}
	}

	.info{
		.descripcion-info{
			padding: 0 5em;
		}
	}

	.fundacion-articulos-recientes{
		.articulos{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 15px;

			.titulo-articulo{
				font-size: .95em;
			}

			.descripcion-articulo{
				font-size: .9em;
			}
		}
	}

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

	.fundacion-banner{
		display: grid;
		grid-template: 200px 400px 90px / 1fr 1fr 1fr;
		grid-template-areas: "banner-contenido banner-image banner-image"
							 "banner-contenido banner-image banner-image"
							 "banner-btn banner-image banner-image";
	}

	.banner-contenido{
		grid-area: banner-contenido;

		.banner-titulo{
			font-size: $fs-titulo-banner;
		}
	}

	.banner-image{
		grid-area: banner-image;
	}

	.banner-btn{
		grid-area: banner-btn;

		a{
			line-height: 30px;
		}
	}

	.fundacion-servicios{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.fundacion-contacto{
		display: grid;
		grid-template-columns: 1fr 1fr;
		.contacto-imagen{
			display: block;

			img{
				min-height: 450px;
				max-height: 450px;
				width: 100%;
			}
		}

		.contacto-formulario{
			min-height: 450px;
			max-height: 450px;
		}
	}
	
	.fundacion-consultores{
		.imagen-consultores{
			display: grid;
			grid-template: 300px / 1fr 1fr 1fr 1fr;
		}	
	}

	.fundacion-contadores{
		display: grid;
		grid-template: 120px / 1fr 1fr 1fr 1fr;
	}
	
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

/*.fundacion-menu{
	box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.5);
	display: flex;
	padding: 0 80px;
	height: 70px;
}

.fundacion-logo{
	width: 30%;
	height: 100%;
	display: flex;
	align-items: center;
}

.fundacion-nav{
	width: 70%;
	height: 100%;
	& ul{
		display: flex;
		height: 100%;
		justify-content: flex-end;
		align-items: center;
		text-transform: uppercase;
	}

	& ul li{
		display: inline;
		font-weight: 500;
		font-size: 12px;
		margin: 0 20px;

		& a{
			color: #000;
		}
	}
}

.fundacion-banner{
	background: #f1f1f1;
	display: flex;
	height: 800px;
	padding: 0 3em;
}

.banner-contenido{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;

	.banner-titulo{
		color: #2380ff;
		text-transform: uppercase;
		font-size: 2.8em;
		line-height: 1.1;
		margin-bottom: 30px;
	}

	.banner-descripcion{
		color: #777;
		font-weight: 200;
		margin-bottom: 30px;
	}

	.banner-btn{
		text-transform: uppercase;
		background: #222;
		border-radius: 30px;;
		color: #fff;
		display: inline-block;
		font-size: .9em;
		padding: 12px 30px;
	}
}

.banner-image {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 50%;

	img{
		width: 100%;
	}
}

.fundacion-servicios{
	display: grid;
	grid-template: 200px 200px 200px / 40% 40%;
	justify-content: space-evenly;
	padding: 100px 0;
	
	.servicio{
		display: flex;

		.servicio-icono{
			color: #777;
			width: 10%;
		}

		.servicio-descripcion{
			padding-left: 10px;
			width: 90%;

			.servicio-titulo{
				color: #333;
				margin-bottom: 15px;
				text-transform: uppercase;
			}

			.servicio-informacion{
				color: #777;
				font-size: .9em;
				font-weight: 200;
				line-height: 1.5;
			}
		}
	}
}

.fundacion-contacto{
	display: grid;
	grid-template: 480px / 1fr 1fr;

	.contacto-imagen{

		.imagen-formulario{
			width: 100%;
			height: 480px;
		}
	}

	.contacto-formulario{
		background: #222;
		color: #fff;
		padding: 3em;
		
		.titulo-formulario{
			margin-bottom: 20px;
			font-size: 1.5em;
			font-weight: 500;
			text-align: center;
		}

		input, textarea{
			background: #222;
			border: 1px solid #656463;
			color: #fff;
			font-size: 14px;
			font-weight: 100;
			margin-bottom: 20px;
			padding: 15px;
		}

		input:focus, textarea:focus{
			outline: none;
		}

		textarea{
			width: 100%;
		}

		.input-full{
			height: 40px;
			width: 100%;
		}

		.medium{
			display: flex;
			justify-content: space-between;

			.input-medium{
				height: 40px;
				width: 48%;
			}

			.input-medium:first-child{
				margin-right: 4%;
			}
		}

		.btn-contacto{
			background-image: linear-gradient(0deg, #2380ff 0%, #52fdd9 100%);
			border: none;
			border-radius: 20px;
			color: #fff;
			font-size: 1em;
			padding: 10px 30px;
		}

		.btn-contacto:hover{
			cursor: pointer;
		}

		
	}
}

.fundacion-consultores{
	background: #f9f9ff;
}

.fundacion-consultores .info{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 280px;
	text-align: center;

	.titulo-info{
		color: #222;
		font-size: 2.7em;
		font-weight: 600;
	}

	.descripcion-info{
		color: #777;		
		font-weight: 200;
		width: 70%;
	}
}

.imagen-consultores{
	display: grid;
	grid-template-columns: repeat(4, 22%);
	justify-content: space-evenly;
	padding-bottom: 80px; 

	img{
		border: 1px solid #ccc;
	}
}

.fundacion-contadores{
	display: grid;
	grid-template-columns: repeat(4, 22%);
	justify-content: space-evenly;
	align-items: center;
	height: 300px;

	.contador{
		span{
			display: block;
			text-align: center;	
		}

		.cantidad{
			color: #2380ff;
			font-size: 48px;
    		font-weight: 600;
		}

		.descripcion{
			font-size: 24px;
		    font-weight: 100;
		    color: #000;
		}
	}
}

.fundacion-articulos-recientes{
	background: #f9f9ff;
}

.fundacion-articulos-recientes .info{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 280px;
	text-align: center;

	.titulo-info{
		color: #222;
		font-size: 2.7em;
		font-weight: 600;
	}

	.descripcion-info{
		color: #777;		
		font-weight: 200;
		width: 70%;
	}
}

.articulos{
	display: grid;
	grid-template-columns: repeat(3, 30%);
	justify-content: space-evenly;
	padding-bottom: 80px;

	.img-articulo{
		transition: all .5s;
	}

	.img-articulo:hover{
		cursor: pointer;
		transform: scale(1.04);
		opacity: .4;
		transition: all .5s;
	}

	.titulo-articulo{
		margin: 20px 0;
		text-transform: uppercase;
		font-size: 1.3em;
		font-weight: 500;
		line-height: 1;
	}

	.descripcion-articulo{
		color: #777;
		font-size: .9em;
		font-weight: 200;
	}
}

.fundacion-footer{
	background: #222;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
	font-size: 1.4em;

	a{
		color: #2380ff;
	}
}*/


/*// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) { 
	.fundacion-menu{
		background: green;
	}
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) { 
	.fundacion-menu{
		background: red;
	}
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) { 
	.fundacion-menu{
		background: teal;
	}
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
	.fundacion-menu{
		background: skyblue;
	}
}*/